<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Minimalists Scraper</title>
  </head>
  <body>
    {{{ body }}}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/js/scripts.js"></script>
</html>
